.home {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2rem 3rem;
    width: 40%;
}

.home>.appName {
    border: 1px solid black;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    background-color: rgb(10, 222, 201);
}

.home>.appName h1 {
    text-align: center;
}

.home ol {
    padding: 0rem 1.5rem 0rem 3rem;
    margin-right: 1rem;
    margin-bottom: 0;
}

.home>.taskListing {
    border: 1px solid black;
    border-radius: 0rem 0rem 1.5rem 1.5rem;
    background-color: lightgrey;
}

.home>.taskListing li {
    margin: 0.3rem;
    cursor: pointer;
}

.spanStrikeThrough {
    text-decoration: line-through;
}

.todoFlex {
    display: flex;
}

/* Small mobile screen i.e. samsung galaxy S20 ultra */
@media only screen and (max-width: 500px) and (min-width: 0px) {
    .home {
        padding: 0.8rem 1.3rem;
        width: 90%;
    }

    .home>.appName h1 {
        font-size: 22px;
    }

    .home ol {
        padding: 0rem 0.8rem 0rem 2rem;
        margin-right: 0.6rem;
    }
}

/* For mobile screen i.e. samsung A51 */
@media only screen and (max-width: 501px) and (min-width: 413px) {
    .home {
        padding: 1rem 1.5rem;
        width: 80%;
    }

    .home>.appName h1 {
        font-size: 22px;
    }

    .home ol {
        padding: 0rem 0.9rem 0rem 2.2rem;
        margin-right: 0.6rem;
    }
}

/* Mini-laptop screen i.e. Surface pro 7*/
@media only screen and (max-width: 1148px) and (min-width: 501px) {
    .home {
        padding: 1rem 1.5rem;
        width: 70%;
    }

    .home>.appName h1 {
        font-size: 22px;
    }

    .home ol {
        padding: 0rem 1rem 0rem 2.5rem;
        margin-right: 0.3rem;
    }
}